.home {
    display: flex;
    flex-direction: column;
    padding: 6px;
    margin: 0px;
}

.splash-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font: bold;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.quick-add-dahlia {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    border: 1px solid black;
    margin: 6px;
    border-radius: 1rem;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.navigation-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    padding: 10px;
    font: bold;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font: bold;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.dahlia-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
    padding: 10px;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 700;
}

.dahlia-form-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
    padding: 10px;
}

.table {
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 400;
}

table {
    border: 2px solid;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 400;
}

caption,
th,
td {
    border: 1px solid;
}

.how-to-use-box {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
    margin: 10px;
    border-radius: 1rem;
}

.title-instructions {
    display: flex;
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 700;
}

.how-to-use {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
    padding: 10px;
}

.title-use {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    padding: 2px;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 500;
}

.instructions {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 200;
}

button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2px;
    border-radius: 0.3rem;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 400;
}

.FAQ-page {
    display: flex;
    flex-direction: column;
}

.FAQ-page-body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font: 200;
}

.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    padding: 10px;
}

p {
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
}